*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 234, 234);
}
main{
    width: 60%;
    padding: 10px;
    align-items: center;
    display: flex;
    height: 100vh;
    
    flex-direction: row;
}
.container{
    background-color: rgb(111, 118, 115);
    width: 100%;
    padding: 12px;
    height: 400px;
    display: flex;
    
}
.box{
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 12px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box-2{
    padding: 12px;
    
    
    width: 100%;
    /* background-color: blue; */

}
.row{
    flex-direction: column;
    
   margin-bottom: 25.3px;

    
    
     

    
    


}
.row-row1{
    background-color: rgb(255, 255, 255);
    padding: 40px;
   
    
    width: 100%;
}
.row-row2{
    display: flex;
    flex-direction: row;

    gap: 12px;
}
.child-left{
    width: 100%;
    padding: 40px;

   

    
    background-color: azure;
    
    
    
}
.child-right{
   
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}
.row-row3{
    padding: 40px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    
}